name: Update and Build

on:
  repository_dispatch:
    types:
      - update-and-build  # 与B仓库的workflow中的事件类型一致

jobs:
  build:
    runs-on: ubuntu-latest  # 设置运行环境，这里假设使用Ubuntu

    steps:
      - run: echo Checkout self
      - name: Checkout
        uses: actions/checkout@v3
        with:
          path: main

      - run: echo Checkout sub docs

      - name: Checkout code
        uses: actions/checkout@v3
        with:
          repository: ${{ github.event.client_payload.repository }}
          token: ${{ secrets.PAT }}  # A仓库的访问令牌
          ref: main
          path: sub-docs
          # submodules: 'recursive'

      # - name: Checkout self
      #   uses: actions/checkout@v3
      #   with:
      #     token: ${{ secrets.PAT }}  # A仓库的访问令牌
      #     ref: main
      #     submodules: 'recursive'

      # - name: Update submodules
      #   run: |
      #     echo begin update submodules
      #     echo git submodule update
      #     git submodule update --init --recursive
      #     echo git submodule foreach
      #     git submodule foreach --recursive git fetch
      #     echo git submodule foreach git merge origin/main
      #     git submodule foreach git merge origin/main --ff-only
      #     echo git commit
      #     git commit -am "Update submodules" --allow-empty
      #     echo git push
      #     git push

      - name: Build
        run: |
          echo begin Build
