name: Update and Build

on:
  repository_dispatch:
    types:
      - update-and-build  # 与B仓库的workflow中的事件类型一致

jobs:
  build:
    runs-on: ubuntu-latest  # 设置运行环境，这里假设使用Ubuntu

    steps:
      # - name: Checkout code
      #   uses: actions/checkout@v3

      - name: Checkout code
        uses: actions/checkout@v3
        with:
          # repository: ${{ github.event.client_payload.repository }}
          token: ${{ secrets.PAT }}  # A仓库的访问令牌
          # ref: main
          # path: sub-docs
          submodules: 'recursive'

      - name: Update Submodules
        run: |
          echo init
          git submodule update --init --recursive
          cd blog
          echo fetch all
          git foreach --all
          echo checkout
          git checkout main
          echo commit and push
          git commit -am "Update submodules" --allow-empty
          git push

